<h2>Jamaica</h2>
<p>Coastal Resilience is a decision support tool that provides local and national planners a step-wise process to guide decisions to reduce the ecological and socio-economic risks of coastal hazards. This portal contains ecological layers, models of sea level rise and flood risk, and indicators of socioeconomic, physical, and demographic vulnerability. Spatial comparison of this data can guide disaster preparedness, climate change adaptation, and coastal planning. For more information, visit: <a href="https://coastalresilience.org/project/jamaica/" target="_blank"><b>Jamaica</b></a>
<br>
<div style='list-style-type: none;text-align:center;'>
<a class='button button-primary' href='https://media.coastalresilience.org/Resilient_Islands/Jamaica_SnapShot.pdf' target='_blank'>Download Country Snapshot</a>
</div>
For best results, it is recommended to access this data portal using Google Chrome.
</p>

<div style="list-style-type: none;text-align:center;">
    <button class="button button-primary openApp">Get Started</button>
</div>  

<script>
    $(".openApp").click(function(c){
        $(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
    })
</script>
	    
<h3 class="i18n" data-i18n="Partners">Partners</h3>
<div class="partners" >
    <ul style="list-style-type: none; padding: 0px;">
	
	<li style="display: inline-block; padding: 4px;">
            <a href="https://www.bmu.de/en/" target="_blank">
                <img src="img/BMU100.png" alt="Federal Ministry of the Environment Nature Conservation and Nuclear Safety" title="Federal Ministry of the Environment Nature Conservation and Nuclear Safety">
            </a>
        </li>
	    
	 <li style="display: inline-block; padding: 4px;">
            <a href="https://media.ifrc.org/ifrc/" target="_blank">
                <img src="img/IFRC100.png" alt="IFRC" title="IFRC">
            </a>
        </li>
	    <li style="display: inline-block; padding: 4px;">
            <a href="http://nature.org" target="_blank">
                <img src="img/TNC100.png" alt="The Nature Conservancy" title="The Nature Conservancy">
            </a>
        </li>
            
        <li style="display: inline-block; padding: 8px;">
            <a href="https://redcross.org.jm/" target="_blank">
                <img src="img/JRC100.png" alt="Jamaica Red Cross" title="Jamaica Red Cross">
            </a>
        </li>
    
        <li style="display: inline-block; padding: 8px;">
            <a href="http://www.odpem.org.jm/" target="_blank">
                <img src="img/ResizeD_ODPEM_Logo.jpg" alt="ODPEM" title="ODPEM">
            </a>
        </li>

        <li style="display: inline-block; padding: 8px;">
            <a href="https://www.ihcantabria.com/en/" target="_blank">
                <img src="img/IH_Small.jpg" alt="IH" title="IH">
            </a>
        </li>

        <li style="display: inline-block; padding: 8px;">
            <a href="http://www.worldbank.org/" target="_blank">
                <img src="img/WBG_Small.jpg" alt="WBG" title="WBG">
            </a>
       
	</li>
	    
	     <li style="display: inline-block; padding: 8px;">
            <a href="https://www.profor.info/" target="_blank">
                <img src="img/PROFOR.png" alt="WBG" title="PROFOR">
            </a>
        </li>
	    
	</li>
	    
	     <li style="display: inline-block; padding: 8px;">
            <a href="https://www.nepa.gov.jm/" target="_blank">
                <img src="img/NEPA.jpg" alt="WBG" title="NEPA">
            </a>
        </li>
	    
	    
    </ul>
</div>
